@import '../common/typography';
@import '../common/layout';
@import '../common/card';
@import '../common/colors';


.scoreboard {
  @apply --card;
  width: 40%;
}

.header {
  @apply --title;
  @apply --subHeading;
  background: #0F9D58;
  color: #fff;
}

.list {
  padding: 16px;
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.topic {
  @apply --flexNotMoreThan200;
  font-size: var(--fontMedium);
}

.button {
  font-size: var(--fontMedium);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  margin: 0 28px;
  color: #fff;
}

.decrement {
  background-color: dodgerblue;
}

.destory {
  background-color: var(--colorPunch);
}
